.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
    padding: 5px;
    height: 500px;
    width: 500px;
    position: relative;
    left: 30%;
}

.tic-area {
    background-color: white;
    margin: 5px;
}

.taken {
    content: 'X';
    background-color: lightblue;
}